.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.date{
    color: rgb(124, 124, 124);
}

.psst{
    margin-top: 5%;
    font-size: 1.5em;
}

.today{
    margin-top: 1%;
    margin-bottom: 4%;
    color: red;
    font-size: 3em;

}

.heart-icon{
    width: 30%;
    height: 300px;
    display: flex;
    justify-content: center;
    transition: translate 2s;
}

.heart-icon:hover{
    cursor: pointer;
}

.heart-icon img{
    max-width: 100%;
    max-height: 100%;
}

.reason{
    font-size: 2em;
    margin-top: 4%;
}
