body{
    background: rgb(100, 210, 230);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}

.date{
    margin-top: 1%;
    color: rgb(124, 124, 124);
}

.psst{
    margin-top: 5%;
    font-size: 1.5em;
}

.today{
    margin-top: 1%;
    margin-bottom: 4%;
    color: red;
    font-size: 4em;

}

.heart-icon{
    width: 300px;
    display: flex;
    justify-content: center;
    /* transition: all 3s linear; */
    /* transform: rotate(160deg); */
    /* transition: rotate 4s; */
    /* box-shadow: 10px 10px 10px 10px black; */
    /* border: 1px solid black; */
}

.heart-icon:hover{
    cursor: pointer;
}

.heart-icon img{
    max-width: 100%;
    /* width: 50%; */
    /* height: 50%; */
    /* max-height: 100%; */
    /* min-width: none; */
}

.reason{
    font-size: 2em;
    /* margin-top: 4%; */
    margin-left: 10%;
    margin-right: 10%;
    /* border: 1px solid black; */

}
.ps{
    margin-top: 10%;
    font-size: 0.7em;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.rotating {
    animation: rotating 8s linear infinite;
}


@media only screen and (max-width: 800px) {
    .date{
        margin-top: 10%;
    }
    .today, .psst {
        font-size: 2em;
        /* margin-bottom: 10%; */
  }
  .reason{
    font-size: 1.7em;
  }
  .heart-icon{
    margin-top: 10%;
    margin-bottom: 10%;

  }
}

